/* 
#navbar{
    flex-direction: column;
    height: 72px;
    overflow: hidden; 
}
h1{
    width: 250px;
    margin: auto 50px;
}

#navbar ul li{
    padding:0.05rem ;
}
#navbar ul li a:hover{
    
    font-size: 1rem;
    
}
#references{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}
 */
